<h1><%= t '.title', title: @room.title %></h1>

<ul>
	<li>
		<strong><%= t '.location' %></strong> <%= @room.location %>
	</li>
	<li>
		<strong><%= t '.description' %></strong> <%= @room.description %>
	</li>
</u>
<br>
<footer>
	<div id="footer-main">
		<strong>
		<%= link_to t('links.edit'), edit_room_path(@room) %> :: <%= link_to t('links.back'), rooms_path %>
		</strong>
	</div>
</footer>